@font-face {
    font-family: 'fonticons';
    src: url('./../fonts/subset-fonticons.eot');
    src: url('./../fonts/subset-fonticons.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/subset-fonticons.woff2') format('woff2'),
        url('./../fonts/subset-fonticons.woff') format('woff'),
        url('./../fonts/subset-fonticons.ttf') format('truetype'),
        url('./../fonts/subset-fonticons.svg#fonticons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./../fonts/subset-Roboto-Medium.eot');
    src: url('./../fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('./../fonts/subset-Roboto-Medium.woff') format('woff'),
        url('./../fonts/subset-Roboto-Medium.ttf') format('truetype'),
        url('./../fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./../fonts/subset-Roboto-Bold.eot');
    src: url('./../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('./../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('./../fonts/subset-Roboto-Bold.ttf') format('truetype'),
        url('./../fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./../fonts/subset-Roboto-Light.eot');
    src: url('./../fonts/subset-Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/subset-Roboto-Light.woff2') format('woff2'),
        url('./../fonts/subset-Roboto-Light.woff') format('woff'),
        url('./../fonts/subset-Roboto-Light.ttf') format('truetype'),
        url('./../fonts/subset-Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


